.row {
    width: 980px;
    height: 200px;
    justify-content: space-between;
    margin-left: 280px;
}

.city {
    border: solid black;
    height: 200px;
    width: 400px;
    display: block;
    align-items: center;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    
}
